@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }


body {
    background-color: rgb(223, 208, 140);
}

.wrapper {
    background-color: rgb(240, 226, 180);
}


/* ----General Fonts---- */

h1 {
    font-family: 'Lobster', cursive;
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

legend {
    font-size: 1.2rem;
}

.js-progress-tracker {
    font-weight: 700;
}

#js-score {
    font-weight: 700;
}

@media all and (min-width: 700px) {
    h1 {
        font-size: 2rem;
    }
}

/* ----Header----*/

header {
    margin-top: 25px;
}

.flex-group-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 
.flex-item-1 {
    flex-grow: 1;
    min-width: 75px;
    max-width: 100px;
    align-self: center;
}

.flex-item-2 {
    flex-grow: 2;
    max-width: 300px;
    align-self: center;
}

header {
    text-align: center;
}

header img {
    max-width: 50px;
}

.inverse-img {
    transform: scaleX(-1);
}

.flex-group-row div:first-child img {
    margin-left: 25px;
}

.flex-group-row div:last-child img {
    margin-left: -25px;
}

/* ----Form----*/

.js-form {
    margin-top: 30px;
}

fieldset {
    border: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

button {
    margin: 1rem 0;
}

legend {
    padding-left: .4rem;
}

.flex-input {
    display: flex;
    margin-top: .5rem;
    margin-left: .5rem;
}

legend + span.flex-input {
    margin-top: 1rem;
}

input[type=radio] {
    margin-top: 6px;
    margin-right: 10px;
}

/* ----Layout----*/

main {
    margin-top: 25px;
}

.flex-group-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    text-align: center;
    min-height: 420px;
    min-width: 320px;
    max-width: 400px;
    padding: 5px;
    border: 1px solid rgb(148, 86, 86);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(148, 86, 86, 0.781);
}

.js-progress-tracker {
    display: block;
    margin: 1rem 0;
}

#js-question-tracker {
    margin-right: 2rem;
}


@media all and (min-width: 400px) {
    .wrapper {
        min-width: 400px;
    }
}

.wrapper h2 {
    margin-top: 1rem;
}


.wrapper img {
    display: block;
    width: 90%;
    max-height: 300px;
    margin: 1rem 0;
    background-color: rgb(114, 64, 64);
    border-radius: 10px;
}

img[alt=vineyard] {
    width: 100%;
}

img[alt*="cracked"] + p + p {
    padding-top: .5rem;
}

/* ----Button----*/

button {
    padding: .5em 1em;
    border-radius: 5px;
    border: solid 2px rgb(114, 64, 64);
    outline: none;
    background-color: rgb(255, 232, 156);
    color: #000;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

button:hover {
    border-color: currentColor;
    color: #fff;
    background-color: rgb(114, 64, 64);;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(177, 175, 199);
}
